body{
    background: linear-gradient(
        110deg,
        #F2921D,
        #F2CD5C
    );
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 5% 8%;
    text-align: center;
}
.dugmeZaKretanjeUnazad{
    position: absolute;
    top: 8px;
    right: 16px;
    background-color: firebrick;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
}
.dugmeZaKretanjeUnazad:hover{
    background-color: red;
}
.korisnickoIme{
    margin-bottom: 10%;
}
.sifra{
    margin-bottom: 10%;
}
.dugme{
    background-color: gray;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px 32px;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
}
.dugme:hover{
    background-color: black;
}